.menu_btn{
    height: auto;
    width: auto;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
}

.connections_btn{
width: 310px;
height: 64px;
margin-right: 10px;

background: #F5F5FA;
box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #FFFFFF;
border-radius: 32px;
font-family: '';
font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 40px;
color: #7878AB;
border: none;
}

.connections_btn:hover{
    background: #E5E5F0;
    box-shadow: 5px 5px 10px rgba(170, 170, 204, 0.5), -5px -5px 10px #FFFFFF;
}

.alarms_btn{
    width: 310px;
    height: 64px;
    margin-left: 10px;
    
    background: #F5F5FA;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #FFFFFF;
    border-radius: 32px;
    font-family: '';
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #7878AB;
    border: none;
    }
    
    .alarms_btn:hover{
        background: #E5E5F0;
        box-shadow: 5px 5px 10px rgba(170, 170, 204, 0.5), -5px -5px 10px #FFFFFF;
    }