<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD Alarm text</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
</head>
<body>
<h2>Alarm Text</h2>
<h4>Add</h4>
<form method="post" action="/alarm_text/add_alarm_text">
    <div>name<input type="text" name="name"></div>
    <div>type<input type="text" name="type"></div>
    <div><button type="submit">Add Alarm text</button></div>
</form>
<div><a href="/alarm_text"><button type="submit">back to Alarm text list</button> </a> </div>
</body>
</html>
