<html>

<head>
    <title>start page</title>
    <!-- <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/assets/css/alarm_text.css">
    <link rel="stylesheet" href="/assets/css/global_setting.css">
</head>

<body>
    <div class="alarm_text_list">
        <div class="header_alarm">
            <div class="header_btn">
                <a href="/alarm_text/add_alarm_text"><button class="add_alarm_text" type="submit">Add alarm text</button></a>
            </div>

            <div class="header_btn">
                <div style="margin: auto;">
                    <h4>Alarm text</h4>
                </div>
                <a href="/"><button class="btn_back" type="submit"></button></a>
            </div>

        </div>

        <table class="alarm_tab">
            <tr class="thead">
                <td>id</td>
                <td>name</td>
                <td>type</td>
                <td></td>
                <td></td>
            </tr>
            {% for i in data %}
            <tr class="tbody">
                <td>{{i.id}}</td>
                <td><a href="/alarm_text/up/{{i.id}}">{{i.name}}</a></td>
                <td>{{i.type}}</td>
                <td>
                    <td style="width: 160px;"> 
                        <form method="get" , action="/alarm_text/{{i.id}}/alarm">
                            <button class="btn_alarm_list" type="submit">Alarm</button>
                        </form>
                    </td>
                <td style="width: 160px;">
                    <form method="post" , action="/alarm_text/del">
                        <input type=hidden name="del" value={{i.id}}>
                        <button class="btn_delete_alarm" type="submit">Delete</button>
                    </form>
                </td>

            </tr>
            {% endfor %}
        </table>

    </div>

</body>

</html>