<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Con</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
</head>
<body>
<h2>Data Con</h2>
<h4>Add</h4>
<form method="post" action="/add_con">
    <div>name<input type="text" name="name"></div>
    <div>ip<input type="text" name="ip"></div>
    <div>rack<input type="number" name="rack"></div>
    <div>slot<input type="number" name="slot"></div>
    <div>DB<input type="number" name="DB"></div>
    <div>start<input type="number" name="start"></div>
    <div>offset<input type="number" name="offset"></div>
    <div><button type="submit">Add con</button></div>
</form>
</body>
</html>
