<html>
<head>
<title>Main page</title>
    <!-- <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/assets/css/global_setting.css">
    <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
    <div class="menu_btn">
        <a href="/connections"><button class="connections_btn" type="submit">Connections</button></a>
        <a href="/alarm_text"><button class="alarms_btn" type="submit">Alarm text</button> </a>
    </div>
</body>
</html>