<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Updata Alarm</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
</head>
<body>
<h2>Alarm</h2>
<h4>Updata</h4>
<form method="post" action="">
    <div>id: {{data.array.id}}</div>
    <div>bit<input type="text" name="bit" value={{data.array.bit}}></div>
    <div><button type="submit">Updata Alarm</button></div>
</form>
<div><a href="/alarm_text/{{data.id_alarm_text}}/alarm"><button type="submit">back to Alarm list</button> </a> </div>
</body>
</html>
