<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Updata Alarm text</title>
    <!-- <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/assets/css/up_alarm_text.css">
    <link rel="stylesheet" href="/assets/css/global_setting.css">
</head>
<body>
    <div class="up_alarm_text">
        <div class="header_up_alarm_text">
            <h2>Alarm text</h2>
            <a href="/alarm_text"><button class="btn_back" type="submit"></button> </a>
        </div>
        <div class="table_and_btn">
            <h5>Updata</h5>
        
<form method="post" action="/alarm_text/up/{{alarm_text_get.id}}">
    <table class="input_up_alarm">
        <tr>
            <th>id:</th>
            <th>{{alarm_text_get.id}}</th>
        </tr>
        <tr>
            <th>name</th>
            <th><input type="text" name="name" value={{alarm_text_get.name}}></th>
        </tr>
        <tr>
            <th>type</th>
            <th>
                <input type="text" name="type" value={{alarm_text_get.type}}>
            </th>
        </tr>
    </table>
    <div class="up_alarm_btn">
        <button class="submit_btn" type="submit">Update</button>
    </div>
    <!-- <div>id: {{alarm_text_get.id}}</div>
    <div>name<input type="text" name="name" value={{alarm_text_get.name}}></div>
    <div>type<input type="text" name="type" value={{alarm_text_get.type}}></div>
    <div><button type="submit">Updata Alarm text</button></div> -->
</form>
</div>
</div>
</body>
</html>
