<html>
<head>
<title>start page</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
</head>
<body>
<a href="/value_list/{{data.id}}/add_value_list"><button type="submit">Add value</button></a>
<div>
    <h4>Value list: {{data.name}}</h4>
    <table border="3">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>offset</th>
            <th>type value</th>
            <th>type table</th>
            <th></th>
        </tr>
        {% for da in data.data %}
        <tr>
            <th>{{da.id}}</th>
            <th><a href="/value_list/up/{{da.connections_id}}/{{da.id}}">{{da.name}}</a></th>
            <th>{{da.offset}}</th>
            <th>{{da.type_value}}</th>
            <th>{{da.type_table}}</th>
            <th>
                <form method="post", action="/value_list/{{da.id}}/del">
                    <input type=hidden name="id" value={{da.id}}>
                    <button type="submit">DEL</button>
                </form>
            </th>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>